div .oldest_article {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
div .box {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 3px;
}
